html
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width initial-scale=1')
        meta(name='description', content="The pluggable CMS")
        meta(name='robots', content='noindex, nofollow, noarchive, nosnippet')

        link(href='/lib/bootstrap/css/bootstrap.min.css', rel='stylesheet')
        link(href='/lib/font-awesome/css/font-awesome.min.css', rel='stylesheet')
        link(href='/css/client.css', rel='stylesheet')

        title HashBrown CMS
    body
        .dashboard-container
            .navspace
                .navbar-main
                    .tab-buttons
                        a.active(href='#welcome')
                            .pane-icon
                                img.logo(src='/svg/logo.svg')
                            .pane-text
                                .pane-label
                                    |  HashBrown
                        a(href='#projects')
                            .pane-icon
                                span.fa.fa-folder
                            .pane-text
                                .pane-label
                                    |  Projects
                        a(href='#diagnostics')
                            .pane-icon
                                span.fa.fa-pie-chart
                            .pane-text
                                .pane-label
                                    |  Diagnostics


            .workspace
                h2 
                    a#welcome HashBrown
                .welcome
                    | Welcome to the HashBrown dashboard. Select a project below to create stuff.
                h2 
                    a#projects Projects
                .projects
                h2 
                    a#diagnostics Diagnostics
                table.diagnostics
                    tr
                        td Platform
                        td #{os.type()} 

                    each cpu, i in os.cpus()
                        tr
                            td CPU #{i + 1}
                            td #{cpu.model}
                    tr
                        td Memory
                        td #{Math.round(os.freemem() / 1000000)}mb / #{Math.round(os.totalmem() / 1000000)}mb

                    tr
                        td Load average
                        td #{Math.round(os.loadavg()[0] * 10000) / 10000}

                    tr
                        td Uptime
                        td #{Math.round(os.uptime() / 60)}m

        script(src='/lib/jquery/jquery.min.js')
        script(src='/lib/bootstrap/js/bootstrap.min.js')
        script(src='/js/dashboard.js')
