html
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width initial-scale=1')
        meta(name='description', content="The pluggable CMS")
        meta(name='robots', content='noindex, nofollow, noarchive, nosnippet')

        link(href='/favicon.png?v=2', rel='icon', type='image/png')
        link(href='/lib/normalize/normalize.css', rel='stylesheet')
        link(href='/lib/font-awesome/css/font-awesome.min.css', rel='stylesheet')
        link(href='/css/client.css', rel='stylesheet')

        title HashBrown CMS

    body.page.page--dashboard
        .page--dashboard__header
            a.page--dashboard__header__logo(target='_blank', href='http://hashbrown.rocks')
                img.page--dashboard__header__logo__image(src="/svg/logo_pink.svg")
            
            if(user.isAdmin)
                a.page--dashboard__header__tab(href='/dashboard/projects', class=(tab === 'projects' ? 'active': '')) Projects
                a.page--dashboard__header__tab(href='/dashboard/users', class=(tab === 'projects' ? 'users': '')) Users
                a.page--dashboard__header__tab(href='/dashboard/server', class=(tab === 'projects' ? 'server': '')) Server

            .page--dashboard__header__actions
                if(user.isAdmin)
                    button.widget.widget--button.low.working.page--dashboard__update
                        span.widget--button__text-default Update
                        span.widget--button__text-working Checking

                form(action='/api/user/logout', method='POST')
                    button.widget.widget--button.condensed.low.fa.fa-sign-out(type='submit', title='Log out')

        .page--dashboard__body
            if(tab === 'projects')
                .page--dashboard__projects
                    h4 PROJECT OVERVIEW

                    .page--dashboard__projects__welcome
                        p
                            | Welcome to the HashBrown dashboard. <br />
                            | Below you will find a list of active projects on this server.

                        p
                            | To author content, you can click the environment buttons to get started.

                        if(user.isAdmin)
                            p
                                | You're an admin, so you can use the various project menus ( <span class="fa fa-ellipsis-v"></span> and <span class="fa fa-plus"></span> ) to manage backups and create/delete environments and projects. 

                        p 
                            | If you feel completely lost, check out the <a href="http://hashbrown.rocks/guides" target="_blank">guides</a>

                    .page--dashboard__projects__list

                    if(user.isAdmin)
                        .page--dashboard__projects__actions
                            button.widget.widget--button.round.fa.fa-plus(title='Create project')

            if(user.isAdmin && tab ==='users')
                .page--dashboard__users
                    .page--dashboard__users__list

                    .page--dashboard__users__actions
                        button.widget.widget--button.round.fa.fa-plus(title='Add user')

            if(user.isAdmin && tab ==='server')
                .page--dashboard__server
                    table.page--dashboard__server__info
                        tr
                            td Software
                            td HashBrown v#{app.version} 

                        tr
                            td Platform
                            td #{os.type()} 

                        each cpu, i in os.cpus()
                            tr
                                td CPU #{i + 1}
                                td #{cpu.model}
                        tr
                            td Memory
                            td #{Math.round(os.freemem() / 1000000)}mb / #{Math.round(os.totalmem() / 1000000)}mb

                        tr
                            td Load average
                            td #{Math.round(os.loadavg()[0] * 10000) / 10000}

                        tr
                            td Uptime

                            - var seconds = os.uptime();
                            - var days = Math.floor(seconds / (60*60*24));
                            - var hours = Math.floor(seconds / (60*60)) - days * 24;
                            - var minutes = Math.floor(seconds % (60*60) / 60);

                            td #{days}d #{hours}h #{minutes}m

                        tr
                            td
                                button.widget.widget--button Restart

        script(src='/lib/jquery/jquery.min.js')
        script(src='/lib/crisp-ui/crisp-ui.min.js')
        script(src='/js/dashboard.js')
