html
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width initial-scale=1')
        meta(name='description', content="The pluggable CMS")
        meta(name='robots', content='noindex, nofollow, noarchive, nosnippet')

        link(href='/favicon.png?v=2', rel='icon', type='image/png')
        link(href='/lib/normalize/normalize.css', rel='stylesheet')
        link(href='/lib/font-awesome/css/font-awesome.min.css', rel='stylesheet')
        link(href='/css/client.css', rel='stylesheet')

        title HashBrown CMS

    body.page.page--dashboard
        .page--dashboard__header
            a.page--dashboard__header__logo(target='_blank', href='http://hashbrown.rocks', title='Go to the HashBrown website')
                img.page--dashboard__header__logo__image(src="/svg/logo_pink.svg")
            
            if(user.isAdmin)
                a.page--dashboard__header__tab(href='/dashboard/projects', class=(tab === 'projects' ? 'active': '')) Projects
                a.page--dashboard__header__tab(href='/dashboard/users', class=(tab === 'users' ? 'active': '')) Users
                a.page--dashboard__header__tab(href='/dashboard/server', class=(tab === 'server' ? 'active': '')) Server

            .page--dashboard__header__actions
                form(action='/api/user/logout', method='POST')
                    button.widget.widget--button.condensed.low.fa.fa-sign-out(type='submit', title='Log out')

        .page--dashboard__body
            .page--dashboard__body__container
                if(tab === 'projects')
                    .page--dashboard__projects
                        .page--dashboard__projects__welcome
                            p
                                | Welcome to the HashBrown dashboard. <br />
                                | Below you will find a list of active projects on this server.

                            p
                                | To author content, you can click the environment buttons to get started.

                            if(user.isAdmin)
                                p
                                    | You're an admin, so you can use the various project menus ( <span class="fa fa-ellipsis-v"></span> and <span class="fa fa-plus"></span> ) to manage backups and create/delete environments and projects. 

                            p 
                                | If you feel completely lost, check out the <a href="http://hashbrown.rocks/guides" target="_blank">guides</a>

                        .page--dashboard__projects__list

                        if(user.isAdmin)
                            button.page--dashboard__projects__add.widget.widget--button.round.right.fa.fa-plus(title='Create project')

                if(user.isAdmin && tab === 'users')
                    .page--dashboard__users
                        .page--dashboard__users__list

                        button.page--dashboard__users__add.widget.widget--button.round.fa.fa-plus.right(title='Add user')

                if(user.isAdmin && tab === 'server')
                    .page--dashboard__server
                        .page--dashboard__server__info
                            .widget-group
                                .widget.widget--label.small.secondary Software
                                .widget.widget--label HashBrown v#{app.version} 

                            .widget-group
                                .widget.widget--label.small.secondary Platform
                                .widget.widget--label #{os.type()} 

                            each cpu, i in os.cpus()
                                .widget-group
                                    .widget.widget--label.small.secondary CPU #{i + 1}
                                    .widget.widget--label #{cpu.model}
                            
                            .widget-group
                                .widget.widget--label.small.secondary Memory
                                .widget.widget--label #{Math.round(os.freemem() / 1000000)}mb / #{Math.round(os.totalmem() / 1000000)}mb

                            .widget-group
                                .widget.widget--label.small.secondary Load average
                                .widget.widget--label #{Math.round(os.loadavg()[0] * 10000) / 10000}

                            .widget-group
                                .widget.widget--label.small.secondary Uptime

                                - var seconds = os.uptime();
                                - var days = Math.floor(seconds / (60*60*24));
                                - var hours = Math.floor(seconds / (60*60)) - days * 24;
                                - var minutes = Math.floor(seconds % (60*60) / 60);

                                .widget.widget--label #{days}d #{hours}h #{minutes}m
                            
                            .widget-group
                                button.widget.widget--button.low.page--dashboard__restart(title='Restart this HashBrown instance') Restart
                                button.widget.widget--button.low.working.page--dashboard__update
                                    .widget--button__text-default Update
                                    .widget--button__text-working Checking

        script(src='/lib/jquery/jquery.min.js')
        script(src='/lib/crisp-ui/crisp-ui.min.js')
        script(src='/lib/babel/polyfill.min.js')

        script.
            window.HashBrown = {};
            HashBrown.Context = {
                user: !{JSON.stringify(user)}
            };

        script(src='/js/common.js')
        script(src='/js/helpers.js')
        script(src='/js/models.js')
        script(src='/js/utilities.js')
        script(src='/js/views.js')
       
        script(src='/js/dashboard.js')
