html
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width initial-scale=1')
        meta(name='description', content="The pluggable CMS")
        meta(name='robots', content='noindex, nofollow, noarchive, nosnippet')

        link(href='/favicon.png?v=2', rel='icon', type='image/png')
        link(href='/lib/bootstrap/css/bootstrap.min.css', rel='stylesheet')
        link(href='/lib/font-awesome/css/font-awesome.min.css', rel='stylesheet')
        link(href='/css/client.css', rel='stylesheet')

        title HashBrown CMS

    body.dashboard-container
        ul.nav.nav-tabs.dashboard-header
            a.dashboard-logo(target='_blank', href='http://hashbrown.rocks')
                img.logo(src="/svg/logo_pink.svg")
                span HashBrown

            if(user.isAdmin)
                li.active
                    a(data-toggle="tab", href="#projects") Projects
                li
                    a(data-toggle="tab", href="#users") Users
                li
                    a(data-toggle="tab", href="#server") Server

            form(action='/api/user/logout', method='POST')
                input(type='submit', class='btn btn-primary', value='Log out')

        .tab-content
            .tab-pane.active#projects
                .projects.container
                    h4 PROJECT OVERVIEW

                    .welcome
                        p
                            | Welcome to the HashBrown dashboard. <br />
                            | Below you will find a list of active projects on this server.

                        p
                            | To author content, you can click the environment buttons to get started.

                        if(user.isAdmin)
                            p
                                | You're an admin, so you can use the various project menus ( <span class="fa fa-ellipsis-v"></span> and <span class="fa fa-plus"></span> ) to manage backups and create/delete environments and projects. 

                        p 
                            | If you feel completely lost, check out the <a href="http://hashbrown.rocks/guides" target="_blank">guides</a>

                    .project-list

                    if(user.isAdmin)
                        .project-actions
                            button.btn.btn-primary.btn-round.btn-raised.btn-create-project(title='Create project')
                                span.fa.fa-plus

            if(user.isAdmin)
                .tab-pane#users
                    .users.container
                        .user-list

                        .user-actions
                            button.btn.btn-primary.btn-round.btn-raised.btn-invite-user(title='Invite user') +

                .tab-pane#server
                    table.server
                        tr
                            td Software
                            td HashBrown v#{app.version} 

                        tr
                            td Platform
                            td #{os.type()} 

                        each cpu, i in os.cpus()
                            tr
                                td CPU #{i + 1}
                                td #{cpu.model}
                        tr
                            td Memory
                            td #{Math.round(os.freemem() / 1000000)}mb / #{Math.round(os.totalmem() / 1000000)}mb

                        tr
                            td Load average
                            td #{Math.round(os.loadavg()[0] * 10000) / 10000}

                        tr
                            td Uptime

                            - var seconds = os.uptime();
                            - var days = Math.floor(seconds / (60*60*24));
                            - var hours = Math.floor(seconds / (60*60)) - days * 24;
                            - var minutes = Math.floor(seconds % (60*60) / 60);

                            td #{days}d #{hours}h #{minutes}m

                        tr
                            td
                                button.btn.btn-primary.btn-restart Restart

        script(src='/lib/jquery/jquery.min.js')
        script(src='/lib/bootstrap/js/bootstrap.min.js')
        script(src='/js/dashboard.js')
